apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: mynamespace
spec:
  selector:
    app: nginx
  type: NodePort
  sessionAffinity: None
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - name: nginx-service-port
    protocol: TCP
    port: 80
    targetPort: 80
